body {
    background-color: rgb(255, 248, 239);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.kotak {
    margin: 60px auto;
    width: 600px;
    height: 1000px;
    border-radius: 30px;
    background-color: rgb(63, 73, 165);

    box-shadow: 0 20px 50px rgba(2, 9, 103, 0.673);
}
.poto{
    margin-top: 50px;
    border-radius:50px;
    text-align:center;
    border-radius:70px;
}

.judul, .desc{
    margin: 0;
    color: white;
}

.desc {
    margin-bottom: 30px;
}


.btn{
    margin-top: 15px;
    display: inline-block;
    width: 500px;
    padding: 15px 0;
    text-align: center;
    background: linear-gradient(135deg, rgb(237, 189, 96), rgb(255, 210, 120));
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover{
    background: linear-gradient(135deg, rgb(153, 113, 34), rgb(200, 150, 60));
}

.btn2{
    margin-top: 15px;
    display: inline-block;
    width: 500px;
    padding: 15px 0;
    text-align: center;

    background: linear-gradient(135deg, rgb(171, 55, 48), rgb(200, 80, 70));
    color: white;
    text-decoration: none;

    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15),
                0 0 15px rgba(171, 55, 48, 0.7);
    transition: 0.2s;
}

.btn2:hover{
    background: linear-gradient(135deg, rgb(140, 38, 32), rgb(180, 60, 50));
    
    box-shadow: 0 6px 15px rgba(0,0,0,0.2),
                0 0 20px rgba(171, 55, 48, 1); 
    
    transform: translateY(-2px);
}

.gktau {
    margin-top: 30px;
    color: white;
}

.yutub {
    border-radius: 20px;
}

.bawah {
    color: white;
    margin-top: 20px;
}